DOMAIN=localhost
DATABASE_URL=postgres://postgres:root@localhost/opencord
DEVELOPMENT=true

CERT_PATH=server/certs/localhost.crt
KEY_PATH=server/certs/localhost.key
VITE_CERT_HASH=8bce170efe2ccc6041d321c0d7ef4baaacb4fcf4dc9dbd0482bc0f21a2fc2d43
