VITE_DOMAIN=localhost
DATABASE_URL=postgres://postgres:root@localhost/opencord
DEVELOPMENT=true

CERT_PATH=certs/localhost.crt
KEY_PATH=certs/localhost.key
VITE_CERT_HASH=da21b15c447b79856496e9db9d355f87797d7e5a053d5c9c8178fe4e18236011
VITE_DEBUG_OVERLAY=false
